body {
    background-color: rgba(0, 0, 0, 0.5);
    padding:100px 0px 0px 0px;
    z-index:0;
}

.bg-color {
    background-color: #004675;
    color: #F3F3F3;
}

.loginborder {
    border-bottom: #004675 solid 4px;
}

.upper {
    color: black;
    
}

.close {
    color: black;
}