body {
    background-image: url(../Images/east.jpg);
    background-size: 100%;
    background-color: grey;
    background-blend-mode: screen;
    
    padding:100px 0px 0px 0px;
    z-index:0;
}

a:hover {
    color: black;
    text-decoration: none;
}

.bg-color {
    background-color: #004675;
    color: #F3F3F3;
}

.loginborder {
    border-bottom: #004675 solid 4px;
}

.upper {
    color: black;
    
}

.close {
    color: black;
}