.navbar-dark {
    background-color: #004675;
}

body{
    padding:100px 0px 0px 0px;
    background-color: #F3F3F3;
    z-index:0;
}

.btn-primary {
    background-color: #F3F3F3;
    border: black solid 1px;
    color: black;
}

.bg-color {
    background-color: #004675;
    color: #F3F3F3;
}

.space {
    padding-top: 10px;
    padding-bottom: 10px;
}

